# API Token for football-data.org (Required for update_results.py)
FOOTBALL_DATA_TOKEN=your_api_token_here

# World Cup Competition Details
FOOTBALL_DATA_COMPETITION_CODE=WC
FOOTBALL_DATA_SEASON=2026

# Already Add Env
